<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="hokuyo" params="frame:=laser topic:=scan sample_size:=540 update_rate:=50 min_angle:=-2.35619 max_angle:=2.35619 min_range:=0.11 max_range:=20.0 namespace:=/">
    <link name="${frame}">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.130" />
            <inertia ixx="4E-06" ixy="0"      ixz="0"
                                 iyy="4E-06"  iyz="0"
                                              izz="4E-06" />
        </inertial>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.1 0.1 0.1"/>
          </geometry>
        </collision>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://racecar_description/meshes/hokuyo.dae"/>
          </geometry>
        </visual>
    </link>

      <gazebo reference="${frame}">
      <turnGravityOff>true</turnGravityOff>

      <sensor type="ray" name="${frame}_360">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-3.141592</min_angle>
              <max_angle>3.141592</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser" filename="libgazebo_ros_laser.so">
          <topicName>${topic}_360</topicName>
          <frameName>${frame}</frameName>
        </plugin>
      </sensor>

      <sensor type="ray" name="${frame}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${sample_size}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser" filename="libgazebo_ros_laser.so">
          <topicName>${topic}</topicName>
          <frameName>${frame}</frameName>
        </plugin>
      </sensor>
    </gazebo>
    </xacro:macro>
</robot>
