<?xml version="1.0"?>
<launch>
    <!-- Vehicle's initial pose -->
    <arg name="x"     default="0"/>
    <arg name="y"     default="0"/>
    <arg name="z"     value="0.05"/>
    <arg name="roll"  value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw"   default="0"/>
    <arg name="namespace"   default=""/>
    <arg name="laser_enabled" default="$(optenv RACECAR_HOKUYO_ENABLED true)"/>
    <arg name="realsense_enabled" default="$(optenv RACECAR_REALSENSE_ENABLED false)"/>


    <include file="$(find racecar_description)/launch/description.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="laser_enabled" default="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" default="$(arg realsense_enabled)"/>
    </include>

    <group if="$(eval namespace=='')">
        <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param robot_description -model racecar -urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    </group>
    <group unless="$(eval namespace=='')">
        <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param robot_description -model $(arg namespace)/racecar -urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    </group>


</launch>
